
# PostgreSQL
POSTGRES_PASSWORD=424bed983622033657fd38f48f297c8b4af917268f84c3c293fe1bf694961012
POSTGRES_USER=unxzbxnxbrbbdx
DATABASE_URL=postgres://unxzbxnxbrbbdx:424bed983622033657fd38f48f297c8b4af917268f84c3c293fe1bf694961012@ec2-54-228-182-57.eu-west-1.compute.amazonaws.com:5432/dfbr316sl8mfoe

# General settings
DJANGO_ADMIN_URL=/admin/
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=+ki&vqzvf%fkysi2sz*dk@3g+d(m9!!53+58@r=l5#qcdtk+28
DJANGO_ALLOWED_HOSTS=.example.com

# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

# Used with email
DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL=
MAILGUN_SENDER_DOMAIN=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True



